---
// src/pages/es/contacto.astro
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacto</title>
  </head>
  <body>
    <h1>Contacto</h1>

    <form action="https://formspree.io/f/mdallyao" method="POST">
      <label>
        Tu email:
        <input type="email" name="email" required />
      </label>
      <label>
        Tu mensaje:
        <textarea name="message" required></textarea>
      </label>
      <button type="submit">Enviar</button>
    </form>
  </body>
</html>